# --- Python & Environments ---
nlp_venv/
.venv/
venv/
__pycache__/
.ipynb_checkpoints/
.pytest_cache/
.mypy_cache/
.DS_Store

# --- Data (Keep the folder, ignore the files) ---
# We ignore all files in data/ because they are 100MB+ and downloaded via API
data/*
!.gitkeep

# --- Models (Native to each machine) ---
# This prevents the "Version 1.7.2 vs 1.5.2" conflict
models/*.joblib
models/*.png

# --- Streamlit & Secrets ---
.streamlit/
